* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-bottom: 0;
}

html,
body {
  font-family: Arial, sans-serif, sans-serif;
  font-size: 8pt;
  margin: 0;
  padding: 0;
  margin-bottom: 0;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.header {
  display: flex;
  align-items: center;
  height: 45px;
  background: #a7f547; /* a7f547 */
  color: rgb(0, 0, 0);
  padding: 20px;
  border-bottom: solid 0.8px #000000;
  margin-bottom: 0;
  justify-content: space-between;
}

.header--tile {
  order: 0;
  font-size: 15px;
  margin-right: auto;
}

.header--box {
  order: 1;
  align-self: right;
}

.container {
  display: flex;
  flex-direction: column;
  background: #a7f547;
  margin-bottom: 0;
  height: 100vh;
}

.container--box {
  display: flex;
  flex-direction: row;
  background: #a7f547;
  margin-bottom: 0;
  height: 100%;
}

.menu {
  display: flex;
  flex-direction: column;
  width: 100px;
  background: #a7f547;
  padding: 20px;
  border-right: solid 0.8px #000000;
  margin-bottom: 0;
  gap: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: #a7f547;
}

.content--header {
  order: 0;
}

.content--newfoodform {
  width: 200px;
  display: flex;
  flex-direction: row;
  background: #b3ff57;
  color: rgb(0, 0, 0);
  padding: 5px;
  border: #ffffff solid 0px;
  margin-top: 25px;
  border-radius: 13pt;
}

.container--newfoodform--leftcolumn {
  order: 1;
  width: 30%;
}

.container--newfoodform--rightcolumn {
  order: 2;
  width: 70%;
}

.container--newfoodform--input1 {
  color: #000000;
  background: #b3ff57;
  text-align: right;
  padding: 8px;
}

.container--newfoodform--name {
  color: #000000;
  background: #b3ff57;
  text-align: right;
  padding: 8px;
  margin-bottom: 18px;
}

.container--newfoodform--button {
  background: #b3ff57;
  width: 80%;
  font-size: 9px;
  padding: 5px;
  border: #000000 solid 0.8px;
  border-radius: 8pt;
  margin-top: 8px;
}

.container--newfoodform--input2 {
  color: #000000;
}

.container--newfoodform--inputform {
  color: #194830;
  width: 80%;
  background: #b3ff57;
  border: #174b2b solid 0.8px;
  font-size: 10px;
  padding: 4px;
  margin-bottom: 6px;
  margin-top: 5px;
}

.container--newfoodform--inputform-name {
  color: #194830;
  width: 80%;
  background: #b3ff57;
  border: #174b2b solid 0.8px;
  font-size: 10px;
  padding: 4px;
  margin-bottom: 18px;
  margin-top: 4px;
}



input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 0px solid green;
  -webkit-text-fill-color: rebeccapurple;
  -webkit-box-shadow: 0 0 0px 1000px #b3ff57 inset;
  transition: background-color 5000s ease-in-out 0s;
}