* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-bottom: 0;
}

html,
body {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 8pt;
  margin: 0;
  padding: 0;
  margin-bottom: 0;
  background: #447cfc;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.header {
  display: flex;
  align-items: center;
  height: 45px;
  background: #447cfc; /* a7f547 */
  color: #ffffff;
  padding: 20px;
  border-bottom: solid 0.8px #e6edff;
  margin-bottom: 0;
  justify-content: space-between;
}

.header--tile {
  order: 0;
  font-size: 15px;
  margin-right: auto;
}

.header--box {
  order: 1;
  align-self: right;
  display: flex;
  gap: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  background: #447cfc;
  margin-bottom: 0;
  height: 100vh;
}

.container--box {
  display: flex;
  flex-direction: row;
  background: #447cfc;
  margin-bottom: 0;
  width: 600px;
  height: 100%;
}

.menu {
  display: flex;
  flex-direction: column;
  width: 100px;
  background: #447cfc;
  padding: 20px;
  border-right: solid 0.8px #e6edff;
  margin-bottom: 0;
  gap: 10px;
  position:static;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: #447cfc;
  margin-bottom: auto;
  margin-top: 10px;

}

.dropdown {
  background-color: #447cfc; 
margin-left: 10px;
border: solid 0.8px #e6edff;
width: 200px;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color: #e6edff;
font-size: 8pt;

}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: solid 0.8px #e6edff;
    -webkit-text-fill-color: #b3ff57;
  -webkit-box-shadow: 0 0 0px 1000px #447cfc inset;
}